@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.text h2{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    padding-top: 20px;
}
.text p{
    color: hsl(220, 15%, 55%);
    padding-bottom: 15px;
}